.hidden {
    display:none;
}

.visible {
    display:block;
}

button {
    
    background-color: purple;
    color: white;
    border-radius: 5%;
}

.top {
    display: flex;
    justify-content: space-between;
}

.container {
    display:flex;
    flex-direction: column;
    align-items: center;
}